.DS_Store
AFFEvent/.DS_Store
AFFEvent/AFFEvent/.DS_Store
AFFEvent/AFFEvent/AFFEvent/.DS_Store
AFFEvent/AFFEvent/AFFEventAPI/.DS_Store
AFFEvent/AFFEvent/AFFEventCenter/.DS_Store
AFFEvent/AFFEvent/AFFEventHandler/.DS_Store
AFFEvent/AFFEvent/AFFEventSystemHandler/.DS_Store
AFFEvent/AFFEvent/AFFEventSystemHandler/.DS_Store
*.xcsettings

*.xcuserstate

*.xcuserstate

*.xcuserstate
