<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestHarness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestHarnessOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>764999D317B077AB00111705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76499A0317B07AEF00111705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76499A2617B07C3200111705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>765452D3179C40DB003F40B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>765452FC179C415D003F40B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
